{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
<h1>Se connecter</h1>
<form action="{{ path('app_profil_connexion') }}" method="post">
    <label for="email">Votre mail</label>
    <input type="email" id="email" name="email" placeholder="Écrire ici...">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" placeholder="Écrire ici...">
    <button type="submit">Se connecter</button>
    <a href="{{ path('app_profil_inscription') }}">Mot de passe oublié ?</a>
</form>
<div>
    <p>Vous n’avez pas encore de compte ? Créez-en un et bénéficiez de <span>-15%</span> sur votre première commande !</p>
    <button type="submit">Créer un compter</button>
</div>
{% endblock %}
