{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block main %}
<div>
    <div>
    <h3>Questions clients</h3>
    </div>
    <div>
    <p>Pensez à jeter un œil à notre <span>FAQ</span>, vous y trouverez les réponses aux questions les plus fréquentes concernant nos services, les consultations et les modalités de réservation.</p>
    </div>
</div>
<div>
    <div>
    <h3>Questions clients</h3>
    </div>
    <div>
    <p>Pensez à jeter un œil à notre <span>FAQ</span>, vous y trouverez les réponses aux questions les plus fréquentes concernant nos services, les consultations et les modalités de réservation.</p>
    </div>
</div>
<div>
    <div>
    <h3>Questions clients</h3>
    </div>
    <div>
    <p>Pensez à jeter un œil à notre <span>FAQ</span>, vous y trouverez les réponses aux questions les plus fréquentes concernant nos services, les consultations et les modalités de réservation.</p>
    </div>
</div>
<div>
    <div>
    <h3>Questions clients</h3>
    </div>
    <div>
    <p>Pensez à jeter un œil à notre <span>FAQ</span>, vous y trouverez les réponses aux questions les plus fréquentes concernant nos services, les consultations et les modalités de réservation.</p>
    </div>
</div>
<div>
    <div>
    <h3>Questions clients</h3>
    </div>
    <div>
    <p>Pensez à jeter un œil à notre <span>FAQ</span>, vous y trouverez les réponses aux questions les plus fréquentes concernant nos services, les consultations et les modalités de réservation.</p>
    </div>
</div>
<div>
    <div>
    <h3>Questions clients</h3>
    </div>
    <div>
    <p>Pensez à jeter un œil à notre <span>FAQ</span>, vous y trouverez les réponses aux questions les plus fréquentes concernant nos services, les consultations et les modalités de réservation.</p>
    </div>
</div>
{% endblock %}